@model ExamWebApp.Models.EmpTable

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Find</title>
</head>
<body>
    <h1>Employee Details Table</h1>
    <div>
        @using (Html.BeginForm())
        {
            <p>Enter Employee Id: @Html.EditorFor((m) => m.EmpID)</p>
            <p>Enter Employee Name: @Html.EditorFor((m) => m.EmpName)</p>
            <p>Enter Employee Address: @Html.EditorFor((m) => m.EmpAddress)</p>
            <p>Enter Employee Salary: @Html.EditorFor((m) => m.EmpSalary)</p>
            <button>Save the changes</button>
        }
    </div>
</body>
</html>
